In [64]:
# Dependencies and Setup
import hvplot.pandas
import holoviews


# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
import datetime

# Import citipy to determine the cities based on latitude and longitude
from citipy import citipy

# Import API key
from api_keys import geoapify_key

ModuleNotFoundError: No module named 'hvplot.points'

In [8]:
hap_df = pd.read_csv('./Resources/2022.csv')

cost_df = pd.read_csv('./Resources/Cost_of_Living_Index_2022.csv')

print(hap_df.head())
print(cost_df.head())

   RANK      Country Happiness score Whisker-high Whisker-low  \
0     1      Finland           7,821        7,886       7,756
1     2      Denmark           7,636        7,710       7,563
2     3      Iceland           7,557        7,651       7,464
3     4  Switzerland           7,512        7,586       7,437
4     5  Netherlands           7,415        7,471       7,359

  Dystopia (1.83) + residual Explained by: GDP per capita  \
0                      2,518                        1,892
1                      2,226                        1,953
2                      2,320                        1,936
3                      2,153                        2,026
4                      2,137                        1,945

  Explained by: Social support Explained by: Healthy life expectancy  \
0                        1,258                                 0,775
1                        1,243                                 0,777
2                        1,320                                 0,803
3                        1,226                                 0,822
4                        1,206                                 0,787

  Explained by: Freedom to make life choices Explained by: Generosity  \
0                                      0,736                    0,109
1                                      0,719                    0,188
2                                      0,718                    0,270
3                                      0,677                    0,147
4                                      0,651                    0,271

  Explained by: Perceptions of corruption
0                                   0,534
1                                   0,532
2                                   0,191
3                                   0,461
4                                   0,419
   Rank      Country  Cost of Living Index  Rent Index  \
0     1  Afghanistan                 20.37        2.72
1     2      Albania                 35.50        8.47
2     3      Algeria                 26.87        4.59
3     4    Argentina                 34.69        7.71
4     5      Armenia                 33.89       11.61

   Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                           12.09            14.92                   12.41
1                           22.83            29.32                   25.82
2                           16.43            28.82                   14.48
3                           22.04            28.17                   33.32
4                           23.45            27.59                   30.55

   Local Purchasing Power Index
0                         23.04
1                         30.19
2                         24.63
3                         30.72
4                         28.86

In [9]:
# Merging
mHapCost_df = hap_df.merge(cost_df, how='inner', on='Country')
mHapCost_df.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Rank,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534",41,73.20,25.95,51.05,65.16,77.65,91.02
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532",33,84.12,33.23,60.26,68.60,98.75,99.45
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191",52,94.86,41.93,70.05,90.22,99.42,77.06
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461",120,123.35,53.54,90.62,128.13,122.09,118.44
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419",86,75.66,36.06,57.10,65.49,76.35,87.99

In [10]:
mHapCost_df.count()

RANK                                          106
Country                                       106
Happiness score                               106
Whisker-high                                  106
Whisker-low                                   106
Dystopia (1.83) + residual                    106
Explained by: GDP per capita                  106
Explained by: Social support                  106
Explained by: Healthy life expectancy         106
Explained by: Freedom to make life choices    106
Explained by: Generosity                      106
Explained by: Perceptions of corruption       106
Rank                                          106
Cost of Living Index                          106
Rent Index                                    106
Cost of Living Plus Rent Index                106
Groceries Index                               106
Restaurant Price Index                        106
Local Purchasing Power Index                  106
dtype: int64

In [56]:
top20Hap = mHapCost_df.sort_values('Happiness score', ascending=False).head(20)
top20Hap

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Rank,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534",41,73.20,25.95,51.05,65.16,77.65,91.02
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532",33,84.12,33.23,60.26,68.60,98.75,99.45
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191",52,94.86,41.93,70.05,90.22,99.42,77.06
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461",120,123.35,53.54,90.62,128.13,122.09,118.44
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419",86,75.66,36.06,57.10,65.49,76.35,87.99
5,7,Sweden,"7,384","7,454","7,315","2,003","1,920","1,204","0,803","0,724","0,218","0,512",119,71.74,25.86,50.23,65.78,72.61,98.14
6,8,Norway,"7,365","7,440","7,290","1,925","1,997","1,239","0,786","0,728","0,217","0,474",91,100.90,34.68,69.86,97.31,105.49,83.11
7,9,Israel,"7,364","7,426","7,301","2,634","1,826","1,221","0,818","0,568","0,155","0,143",58,88.05,33.94,62.69,76.72,95.31,75.58
8,10,New Zealand,"7,200","7,279","7,120","1,954","1,852","1,235","0,752","0,680","0,245","0,483",87,74.52,34.44,55.73,72.04,70.05,83.63
9,11,Austria,"7,163","7,237","7,089","2,148","1,931","1,165","0,774","0,623","0,193","0,329",7,71.04,27.13,50.46,65.88,66.03,77.25
10,12,Australia,"7,162","7,244","7,081","2,011","1,900","1,203","0,772","0,676","0,258","0,341",6,77.75,36.84,58.57,77.44,72.95,104.63
11,13,Ireland,"7,041","7,121","6,961","1,743","2,129","1,166","0,779","0,627","0,190","0,408",57,76.05,42.08,60.13,62.10,80.40,82.27
12,14,Germany,"7,034","7,122","6,947","2,142","1,924","1,088","0,776","0,585","0,163","0,358",44,65.58,27.62,47.78,52.31,60.91,103.08
13,15,Canada,"7,025","7,107","6,943","1,924","1,886","1,188","0,783","0,659","0,217","0,368",24,70.22,34.33,53.40,70.01,67.86,87.98
14,16,United States,"6,977","7,065","6,888","2,214","1,982","1,182","0,628","0,574","0,220","0,177",132,70.13,42.07,56.98,70.37,70.07,106.34
15,17,United Kingdom,"6,943","7,018","6,867","1,967","1,867","1,143","0,750","0,597","0,289","0,329",131,69.65,31.84,51.93,56.58,76.79,88.78
16,19,Belgium,"6,805","6,890","6,720","2,283","1,907","1,106","0,764","0,492","0,049","0,204",14,72.61,25.79,50.67,63.32,78.63,79.72
17,20,France,"6,687","6,758","6,615","1,895","1,863","1,219","0,808","0,567","0,070","0,266",42,74.13,25.33,51.26,73.64,71.84,85.41
18,21,Bahrain,"6,647","6,779","6,514","2,092","1,854","1,029","0,625","0,693","0,199","0,155",10,54.77,29.22,42.79,44.59,48.94,61.41
19,22,Slovenia,"6,630","6,718","6,542","1,885","1,810","1,249","0,769","0,685","0,118","0,115",112,53.88,17.90,37.01,47.71,46.74,59.48

In [59]:
capCoord_df = pd.read_csv('./Resources/country-capitals.csv', on_bad_lines='skip')
capCoord_df

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe
...,...,...,...,...,...,...
238,Northern Cyprus,North Nicosia,35.183333,33.366667,NaN,Europe
239,Hong Kong,NaN,0.000000,0.000000,HK,Asia
240,Heard Island and McDonald Islands,NaN,0.000000,0.000000,HM,Antarctica
241,British Indian Ocean Territory,Diego Garcia,-7.300000,72.400000,IO,Africa
242,Macau,NaN,0.000000,0.000000,MO,Asia

In [61]:
mHapCostCoord_df = mHapCost_df.merge(capCoord_df, how='inner', left_on='Country', right_on='CountryName')
mHapCostCoord_df

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,...,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736",...,51.05,65.16,77.65,91.02,Finland,Helsinki,60.166667,24.933333,FI,Europe
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719",...,60.26,68.60,98.75,99.45,Denmark,Copenhagen,55.666667,12.583333,DK,Europe
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718",...,70.05,90.22,99.42,77.06,Iceland,Reykjavik,64.150000,-21.950000,IS,Europe
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677",...,90.62,128.13,122.09,118.44,Switzerland,Bern,46.916667,7.466667,CH,Europe
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651",...,57.10,65.49,76.35,87.99,Netherlands,Amsterdam,52.350000,4.916667,NL,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,137,Zambia,"3,760","3,902","3,618","1,135","0,930","0,577","0,306","0,525",...,21.90,31.53,22.46,40.33,Zambia,Lusaka,-15.416667,28.283333,ZM,Africa
99,139,Tanzania,"3,702","3,847","3,558","0,735","0,848","0,597","0,425","0,578",...,23.23,30.04,24.86,15.97,Tanzania,Dar es Salaam,-6.800000,39.283333,TZ,Africa
100,144,Zimbabwe,"2,995","3,110","2,880","0,548","0,947","0,690","0,270","0,329",...,28.37,39.88,38.13,19.07,Zimbabwe,Harare,-17.816667,31.033333,ZW,Africa
101,145,Lebanon,"2,955","3,049","2,862","0,216","1,392","0,498","0,631","0,103",...,48.61,66.83,54.25,35.12,Lebanon,Beirut,33.866667,35.500000,LB,Asia
102,146,Afghanistan,"2,404","2,469","2,339","1,263","0,758","0,000","0,289","0,000",...,12.09,14.92,12.41,23.04,Afghanistan,Kabul,34.516667,69.183333,AF,Asia

In [75]:
print(mHapCostCoord_df.dtypes)
mHapCostCoord_df['Happiness'] = mHapCostCoord_df['Happiness'].astype('float')
mHapCostCoord_df.dtypes

RANK                                            int64
Country                                        object
Happiness score                                object
Whisker-high                                   object
Whisker-low                                    object
Dystopia (1.83) + residual                     object
Explained by: GDP per capita                   object
Explained by: Social support                   object
Explained by: Healthy life expectancy          object
Explained by: Freedom to make life choices     object
Explained by: Generosity                       object
Explained by: Perceptions of corruption        object
Rank                                            int64
Cost of Living Index                          float64
Rent Index                                    float64
Cost of Living Plus Rent Index                float64
Groceries Index                               float64
Restaurant Price Index                        float64
Local Purchasing Power Index                  float64
CountryName                                    object
CapitalName                                    object
CapitalLatitude                               float64
CapitalLongitude                              float64
CountryCode                                    object
ContinentName                                  object
dtype: object

KeyError: 'Happiness'

In [67]:
%%capture --no-display

happiestplot = mHapCostCoord_df.hvplot.points(
    "CapitalLatitude",
    "CapitalLongitude",
    geo = True,
    tiles = "OSM",
    color = "Country",
    size = 'Happiness score',
    frame_width = 700,
    frame_height = 600,
    alpha = 0.5,
    xlabel = "Longitude (Degrees)",
    ylabel = "Latitude (Degrees)"
)
happiestplot

:Overlay
   .Tiles.I  :Tiles   [x,y]
   .Points.I :Points   [CapitalLatitude,CapitalLongitude]   (Country,Happiness score)

In [57]:
bottom20Hap = mHapCost_df.sort_values('Happiness score').head(20)
bottom20Hap

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Rank,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
105,146,Afghanistan,"2,404","2,469","2,339","1,263","0,758","0,000","0,289","0,000","0,089","0,005",1,20.37,2.72,12.09,14.92,12.41,23.04
104,145,Lebanon,"2,955","3,049","2,862","0,216","1,392","0,498","0,631","0,103","0,082","0,034",70,69.62,24.81,48.61,66.83,54.25,35.12
103,144,Zimbabwe,"2,995","3,110","2,880","0,548","0,947","0,690","0,270","0,329","0,106","0,105",139,45.68,8.75,28.37,39.88,38.13,19.07
102,139,Tanzania,"3,702","3,847","3,558","0,735","0,848","0,597","0,425","0,578","0,248","0,270",123,32.81,12.36,23.23,30.04,24.86,15.97
101,137,Zambia,"3,760","3,902","3,618","1,135","0,930","0,577","0,306","0,525","0,203","0,083",138,33.04,9.26,21.90,31.53,22.46,40.33
100,136,India,"3,777","3,828","3,726","0,795","1,167","0,376","0,471","0,647","0,198","0,123",53,24.43,5.30,15.47,26.43,17.56,49.72
99,134,Jordan,"4,152","4,276","4,029","0,695","1,324","0,724","0,675","0,476","0,058","0,200",64,49.19,9.23,30.46,40.81,41.16,31.34
98,131,Ethiopia,"4,241","4,365","4,118","1,375","0,788","0,809","0,457","0,472","0,205","0,136",39,47.49,16.88,33.14,36.68,18.03,10.15
97,129,Egypt,"4,288","4,377","4,198","0,856","1,388","0,732","0,548","0,469","0,041","0,254",36,29.52,5.82,18.41,27.42,23.42,21.54
96,127,Sri Lanka,"4,362","4,487","4,237","0,595","1,415","0,934","0,660","0,529","0,150","0,079",117,31.29,8.23,20.48,37.67,17.27,19.27
95,126,Myanmar,"4,394","4,511","4,277","0,877","1,038","0,829","0,491","0,513","0,452","0,194",84,35.67,21.18,28.87,37.63,20.00,13.84
94,121,Pakistan,"4,516","4,634","4,397","1,940","1,049","0,413","0,374","0,448","0,181","0,112",93,19.92,3.91,12.42,17.81,15.54,26.63
93,120,Tunisia,"4,516","4,629","4,403","1,540","1,350","0,596","0,656","0,316","0,029","0,029",126,27.87,5.32,17.30,27.36,15.96,27.83
92,119,Kenya,"4,543","4,683","4,403","1,661","1,032","0,605","0,401","0,440","0,322","0,082",66,33.92,8.73,22.11,31.27,28.82,32.18
91,118,Nigeria,"4,552","4,651","4,453","1,784","1,079","0,732","0,300","0,444","0,175","0,038",89,30.49,35.99,33.07,33.65,20.92,9.34
90,117,Uganda,"4,603","4,747","4,459","1,842","0,777","0,875","0,418","0,402","0,222","0,066",128,33.50,9.19,22.10,31.00,24.85,11.41
89,114,Cambodia,"4,640","4,765","4,516","1,410","1,019","0,732","0,505","0,740","0,166","0,068",22,49.11,15.68,33.44,50.61,22.90,13.32
88,112,Turkey,"4,744","4,845","4,644","1,059","1,707","0,865","0,702","0,209","0,087","0,115",127,28.31,6.63,18.15,22.64,18.40,32.88
87,111,Ghana,"4,872","4,999","4,745","1,972","1,112","0,595","0,409","0,500","0,230","0,056",45,36.20,19.31,28.28,37.53,30.06,16.82
86,110,Iran,"4,888","4,995","4,780","1,427","1,410","0,741","0,642","0,281","0,241","0,146",55,37.39,17.05,27.85,29.46,25.18,17.98

In [47]:
crime_df = pd.read_csv('./Resources/WorldCrimeIndex.csv')

crime_df.head()

   Rank                            City  Crime Index  Safety Index
0     1              Caracas, Venezuela        83.98         16.02
1     2          Pretoria, South Africa        81.98         18.02
2     3                  Celaya, Mexico        81.80         18.20
3     4        San Pedro Sula, Honduras        80.87         19.13
4     5  Port Moresby, Papua New Guinea        80.71         19.29

In [48]:
df = crime_df['City'].str.split(",", expand=True)
# crime_df.rename(columns={'City':"Country"})
df.head()

                0                  1     2
0         Caracas          Venezuela  None
1        Pretoria       South Africa  None
2          Celaya             Mexico  None
3  San Pedro Sula           Honduras  None
4    Port Moresby   Papua New Guinea  None

In [49]:
crime_df['City'] = df[1]
crime_df.head()

   Rank               City  Crime Index  Safety Index
0     1          Venezuela        83.98         16.02
1     2       South Africa        81.98         18.02
2     3             Mexico        81.80         18.20
3     4           Honduras        80.87         19.13
4     5   Papua New Guinea        80.71         19.29

In [54]:

crime_df.columns=['Crime Rank', 'Country', 'Crime Index', 'Safety Index']
print(crime_df.count())
sr_df = crime_df.sort_values('Country')
print(sr_df.head(20))
crime_df.head()

Crime Rank      453
Country         453
Crime Index     453
Safety Index    453
dtype: int64
     Crime Rank       Country  Crime Index  Safety Index
54           55            AB        63.89         36.11
67           68            AK        62.27         37.73
165         166            AZ        50.29         49.71
150         151            AZ        52.23         47.77
7             8   Afghanistan        79.39         20.61
229         230       Albania        44.50         55.50
129         130       Algeria        53.88         46.12
39           40        Angola        67.45         32.55
76           77     Argentina        60.38         39.62
16           17     Argentina        75.11         24.89
60           61     Argentina        63.33         36.67
427         428       Armenia        21.66         78.34
105         106     Australia        55.76         44.24
75           76     Australia        60.57         39.43
318         319     Australia        35.05         64.95
230         231     Australia        44.39         55.61
329         330     Australia        33.81         66.19
135         136     Australia        53.17         46.83
346         347     Australia        32.18         67.82
214         215     Australia        46.19         53.81

   Crime Rank            Country  Crime Index  Safety Index
0           1          Venezuela        83.98         16.02
1           2       South Africa        81.98         18.02
2           3             Mexico        81.80         18.20
3           4           Honduras        80.87         19.13
4           5   Papua New Guinea        80.71         19.29

In [51]:
mHapCosCrim = mHapCost_df.merge(crime_df, how='inner', on='Country')
mHapCosCrim.head()

Empty DataFrame
Columns: [RANK, Country, Happiness score, Whisker-high, Whisker-low, Dystopia (1.83) + residual, Explained by: GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption, Rank, Cost of Living Index, Rent Index, Cost of Living Plus Rent Index, Groceries Index, Restaurant Price Index, Local Purchasing Power Index, Crime Rank, Crime Index, Safety Index]
Index: []

[0 rows x 22 columns]